# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
**/userHome/

# Some files (including unit test log) coming from the maven part are still generated in target/ folders
target

# Ignore logs folder (generated during integration tests)
logs/
**.log

# Ignore eclipse files
.settings/
.classpath
.project
bin/
